section.office {
  margin-top: 150px;
  // background-color: red;

  * {
    user-select: none;
  }
  .sec_title {
    margin-bottom: 48px;
    h3 {
      text-align: center;
      margin: 0;
      color: var(--main-blue);
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 8px;
    }
  }

  .active_slide {
    width: 100%;
    display: flex;
    margin-bottom: 24px;

    img {
      margin: auto;
      border-radius: 24px;
    }
  }

  .swiper_container {
    width: 100%;
    display: flex;

    .swiper_contain {
      max-width: 750px;
      margin: auto;

      .img_container {
        img {
          border-radius: 18px;
          transition: all 0.3s ease-in-out;
        }

        &.active {
          img {
            border: 3px solid var(--main-blue);
          }
        }
      }
    }
  }
}
